.square {
  border-style: solid;
  border-color: #80dfff;
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 215px;
  color: #0086b3;
  font-family: 'Varela Round', sans-serif;

}

.square:hover {
  border-color: #80dfff;
  background-color: #e6fff7;
}

.header {
  width: 85%;
  background-color: #80ffd4;
  font-size: 130px;
  color: ##00e600;
  margin-bottom: 50px;

}

.legal {
  text-align: center;
}

.square1 {
  border-width: 0px 2px 2px 0px;
}

.square2 {
  border-width: 0px 2px 2px 2px;
}

.square3 {
  border-width: 0px 0px 2px 2px;
}
.square4 {
  border-width: 2px 2px 2px 0px;
}

.square5 {
  border-width: 2px 2px 2px 2px;
}

.square6 {
  border-width: 2px 0px 2px 2px;
}
.square7 {
  border-width: 2px 2px 0px 0px;
}

.square8 {
  border-width: 2px 2px 0px 2px;
  margin-bottom: 20px;
}

.square9 {
  border-width: 2px 0px 0px 2px;
}
.container {
  padding:150px;
}

.player {
  color: #1affff;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px #ff66d9;
  animation: blink-animation .01s steps(5, start) infinite;
  -webkit-animation: blink-animation .01s steps(5, start) infinite;
}

.congrats {
  position: absolute;
  z-index: 1;
  left: 200px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.hidden {
  display: none;
}
